:export {
  menuText: #383939;
  menuActiveText: #eeecec;
  subMenuActiveText: #eeececce;
  menuBg: #607fa0;
  menuHover: #dfdedece;
  subMenuBg: #607fa0;
  subMenuHover: #dfdedece;
  sideBarWidth: 210px;
}
